@charset "UTF-8";

body {
  color: black;
  background-color: #ffffff;
}

header {
  min-width: 710px;
  height: 50px;
  padding: 10px;
  font-family: "Kosugi Maru", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  background-color: #e0755a;
}

header .icon {
  width: 200px;
  height: 44px;
  border: 3px solid #ffffff;
  border-radius: 10px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 600px;
  padding: 10px;
  margin: 50px auto;
  border: 5px solid #e0755a;
  border-radius: 10px;
  background-color: #ffffff;
}

#app {
  width: 600px;
  height: 450px;
  margin: 25px auto 0;
}

#app div {
  display: inline-block;
  width: 100px;
  height: 140px;
}

#app img {
  width: 100px;
  height: 140px;
}

.menu {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 80px;
  margin: 20px auto 25px;
}

#btn-main {
  width: 96px;
  height: 76px;
  border: 2px solid #e0755a;
  border-radius: 10px;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  line-height: 76px;
  background-color: #e0755a;
}

#btn-main:hover {
  text-decoration: none;
  color: #e0755a;
  background-color: #ffffff;
}

.area-info {
  display: flex;
  flex-direction: row;
  width: 446px;
  height: 76px;
  border: 2px solid #d3c06a;
  border-radius: 10px;
  margin: 0 15px;
  font-size: 15px;
  text-align: center;
}

.area-score {
  width: 150px;
  border-right: 1px solid #d3c06a;
  padding: 3px;
}

.area-score h2 {
  font-size: 15px;
}

.area-score p {
  display: inline-block;
  line-height: 20px;
  height: 40px;
}

.area-guide {
  width: 350px;
  padding: 3px;
}

.area-guide h2 {
  font-size: 15px;
}

.area-guide p {
  display: inline-block;
  height: 40px;
  margin: 0 20px;
  line-height: 20px;
}

footer {
  min-width: 710px;
  color: #ffffff;
  background-color: #e0755a;
}
