@charset "UTF-8";

body {
  color: black;
  background-color: #ffffff;
  background-size: cover;
  background-attachment: fixed;
}

header {
  height: 50px;
  min-width: 710px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Kosugi Maru", sans-serif;
  color: hsl(0, 0%, 100%);
  background-attachment: fixed;
  background-color: rgb(122, 122, 122);
}

header .icon {
  height: 44px;
  width: 200px;
  text-align: center;
  border: 3px solid #ffffff;
  border-radius: 10px;
}

.content {
  background-color: #ffffff;
  border: 3px solid rgb(122, 122, 122);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  width: 700px;
  height: 640px;
}

#app {
  margin: 40px auto 0;
  width: 600px;
  height: 450px;
}

#app div {
  display: inline-block;
  width: 100px;
  height: 140px;
}

#app img {
  width: 100px;
  height: 140px;
}

.menu {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 100px;
  margin: 20px auto 40px;
}

#btn-main {
  text-align: center;
  text-decoration: none;
  background-color: #e95935;
  color: #ffffff;
  font-size: 24px;
  line-height: 76px;
  height: 76px;
  width: 96px;
  border: 2px solid #e95935;
  border-radius: 10px;
}

#btn-main:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #e95935;
}

.area-info {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 446px;
  height: 76px;
  border: 2px solid #e95935;
  border-radius: 10px;
  margin: 0 15px;
}

.area-score {
  width: 150px;
  padding: 3px;
  border-right: 1px solid #e95935;
}

.area-score h2 {
  font-size: 15px;
}

.area-score p {
  display: inline-block;
  line-height: 20px;
  height: 40px;
}

.area-guide {
  width: 350px;
  padding: 3px;
}

.area-guide h2 {
  font-size: 15px;
}

.area-guide p {
  display: inline-block;
  line-height: 20px;
  height: 40px;
  margin: 0 20px;
}
